* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    text-rendering: optimizeLegibility;
  }


  
  html {
    scroll-behavior: smooth;
    ::-webkit-scrollbar {
      display: none;
  }
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

.chart-container {
    position: relative;
}

.chart {
    position: absolute;
    margin: 1.7em 1.7em;
}

.maquinita {
    position: absolute;
    top: 6em;
    left: 0.338em;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    font-size: 100px;
}

.video {
  
    z-index: -1;
    margin-top: -2em;
    position: absolute;
    right: 0;
}

.slidecontainer {
    margin-top: -0.5em;
    width: 100%; 
    .slider {
        -webkit-appearance: none;  /* Override default CSS styles */
        appearance: none;
        width: 380px; 
        height: 25px; 
        background-color: #f9484a;
        background-image: linear-gradient(315deg, #f9484a 0%, #fbd72b 74%);
        border: 2px solid black;
        -webkit-transition: .2s; 
        transition: opacity .2s;
        border-radius: 300px;


      }
      .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 34px; 
        height: 34px; 
        background: white;
        border: 2px solid black; 
        border-radius: 300px;
        cursor: pointer;
      }
}

.r1, .r2, .r3, .r4, .r5, .r6, .r7, .r8, .r9 {
  display: none;
  
}

.active {
  display: unset;
}

.hard {
  color: rgb(37, 240, 37);
  animation: opacity 0.3s infinite;
}

.audio {
  position: absolute;
  margin-top: 45.5em;
  margin-left: 28em;

  audio {
    height: 30px;
  }
}

footer {
  a {
    text-decoration: none;
  }
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 35px;
  

  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .twitter { 
    color: white;
    flex: 33%;
    width: 100%;
    background-color: #3aabf1;


    &:hover {
      background-color: #2990cf;
    }
  }

  .github {
    flex: 33%;
    width: 100%;
    background-color: rgb(216, 216, 216);
    &:hover {
      background-color: rgb(158, 158, 158);
    }

  }

  .donacion {
    flex: 33%;
    width: 100%;
    background-color: rgb(220, 253, 255);
    &:hover {
      background-color: rgb(195, 249, 252);
    }
  }

  .button {
    display: flex;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    padding: 0.5em 2em;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    svg {
      margin-left: 1em;
    }
  }

}
  
@keyframes opacity {
  from {
    opacity:0;
  }
  to {
    opacity: 100%;
  }
}